<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- EX(1) : 4,5 and 6 Send data to view -->
<title><%= RESTAURANT.name %></title>
</head>
<body>
  <!-- EX (2):Add partial to home page -->
    <%- include('./partials/nav') %>

  <h1>Welcome to <%= RESTAURANT.name %></h1>
  <p><strong>Address:</strong> <%= RESTAURANT.address %></p>
  <p><strong>Phone:</strong> <%= RESTAURANT.phone %></p>
  <p><strong>Status:</strong> <%= RESTAURANT.isOpen ? "Open Now" : "Closed" %></p>

</body>
</html>